<ion-content [fullscreen]="true">
  <div class="container">
    <div class="chat-container">
      <div class="message user-message">
        <p>Hola, ¿cómo estás?</p>
      </div>
      <div class="message bot-message">
        <p>Hola, soy un bot. ¿En qué puedo ayudarte?</p>
      </div>
    </div>

    <ion-toolbar class="content-chat-input">
      <ion-item>
        <ion-input placeholder="Escribe tu mensaje aquí..."></ion-input>
        <ion-button size="small">
          <ion-icon name="send-outline" class="ion-color-white"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-toolbar>
  </div>
</ion-content>
