.content-chat-input {
  position: fixed;
  bottom: 0.1rem;
}

.ion-color-white {
  color: #ffff;
}

.chat-container {
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-height: calc(100vh - 28vh);
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.message {
  width: 100%;
  max-width: calc(100vw - 26vw);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #ffff;
}

.user-message {
  background-color: var(--ion-color-medium-shade);
  float: left;
  clear: both;
  margin-left: 20%;

  border-end-end-radius: 0px;
}

.bot-message {
  background-color: var(--ion-color-primary);
  float: right;
  clear: both;
  margin-right: 20%;
  border-end-start-radius: 0px;
}

.message p {
  margin: 0;
}
