.ion-text-logo {
  font-weight: 600;
  color: var(--ion-color-primary);
}
.top-menu {
  position: relative;
  z-index: 999;
}

.tab-menu {
  .tab-selected .line {
    width: 100%;
    height: 4px;
    background-color: var(--ion-color-primary);
    border-radius: 10px;
  }
}

.tab-menu {
  color: var(--ion-color-primary);
  ion-tab-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  ion-label {
    font-size: 10px;
    margin: 0;
    margin-bottom: 3px;
  }
  ion-icon {
    font-size: 16px;
    padding: 0 3px 4px 0;
  }
}
