.title {
  padding: 1rem 0 0 0;
  font-size: 17px;
  font-weight: 700;
}
.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  height: 3rem;
}

.title-h4 {
  font-size: 14px;
  font-weight: 600;
  padding: 2rem 0 0 0;
}

.content-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0 1rem 0 1rem;
}

.item-image {
  width: 100%;
  height: 4rem;
  border: 1px solid var(--ion-color-primary);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 0.5rem;
  cursor: pointer;
  background: var(--ion-color-step-700);

  @media screen and (min-width: 745px) {
    img {
      width: 80%;
      height: 80%;
    }
  }
}

.item-image:hover {
  background: var(--ion-color-step-100);
}

.more {
  font-size: 10px;
  margin-bottom: 1rem;
  ion-icon {
    position: relative;
    top: 3px;
    color: var(--ion-color-primary);
  }
  color: var(--ion-text-color);
}

.content-car {
  position: relative;
  padding: 0 1rem 0 1rem;
  img {
    border-radius: 12px;
    width: 100vw;
    max-height: calc(100vh - 85vh);
    overflow: hidden;
    opacity: 0.6;
  }
  ion-label {
    position: absolute;
    top: 0.8rem;
    right: 1.5rem;
    color: var(--ion-color-warning);
    font-size: 16px;
    font-weight: 600;
    z-index: 10;

    span {
      font-size: 30px;
      text-align: end;
    }
  }
}

.btn-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  padding: 1rem;
  ion-button {
    font-size: 12px;
    text-transform: capitalize;
  }
}
